<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Orange-HRM" verbose="1" >
    <listeners>
        <listener class-name="com.orange.hrm.listeners.Listeners"></listener>
        <listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"></listener>
    </listeners>
    <test name="Success Stories Page Test" >
        <classes>
            <class name="com.orange.hrm.testsuit.SuccessStoriesPageTest" />
        </classes>
    </test>

</suite>